body {
	background: url(/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: 0 0 4px rgb(89, 89, 89);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 255);
}


h1 {
	font-weight: bolder;
	align-self: center;
}

/*######################*/

.mainpage_message1{
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0 0 3px red;
}

.mainpage_message2{
	font-weight: bold;
	font-size: 20px;
}

.trans_button {
    background-color: rgba(79,187,255,0.7);
    color: rgb(221,40,168);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
}


.container {
    padding: 16px;
}

/*######################*/

.box{
	margin: 0 auto;
    width: 60em;
    height: 40em;
    overflow: auto; 
    background-color: rgba(255,0,255,0.5);
    z-index: 1000;
    border-radius: 5px;
}


/*########################################################*/

#navbar_div{
	height: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:  rgb(78, 78, 79);
}


.humpty {
    display: block;
    width: 100px;
}

li {
    float: left;
}

.log_status {
	float: right;
}

.humpty {
    display: block;
    padding: 8px;
    background-color: rgb(78, 78, 79);
    text-shadow: 0 0 3px white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: rgb(21,0,255);
	border: none;
	cursor: pointer;
}




/*########################################################*/

.create_question_box {
	width: 30em;
    height: 20em;
    overflow: auto; 
    background-color: rgba(230,0,230,0.4);
    z-index: 900;
    border-radius: 5px;
    margin: auto;
}


/*########################################################*/

.newsfeed_box{
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.newsfeed_answer{
	font-style: italic;
	color: rgb(0, 153, 204);
}
/*########################################################*/
.dotted_line {
    border-width: 2.5px;
    border-style: dotted; 
    color: white;
}


