<h1>Question Page</h1>


<div id="question_box">
	
	<h3> Welcome <%= @user[:username] %> </h3>

	<br>
	<br>

	<label><b>What is your question?</b></label>
	<input type="text" placeholder="Enter Question" name="new_question">
	

</div>
