<html>
	<head>
		<title>Gofur Quora Clone</title>

		<!-- ################### -->

		<link rel="stylesheet" href="css/application.css/?v=2.2">

		<!-- ################### -->

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<!-- ################### -->

	</head>
	<body>
		<div id="navbar_div">			
			<ul>
			  	<li>

			  		<form action="/" method="get">
			  			
			  		<div>
			  			<input class="humpty" type="submit" value="Home">
			  		</div>

			  		</form>

			  	</li>

			  


		<!-- ################### -->
				<li>

				  	<form action="/logout" method="post">
				  		
					  	<div>
					  		<input  class="humpty" type='submit' value="Logout">
					  	</div>

				  	</form>

			  	</li>
		 	</ul>
		</div>

	 	
		<div class="box">

			


			<%= yield %>
		</div>
	</body>
</html>