<html>
	<head>
		<title>Gofur Quora Clone</title>

		<!-- ################### -->

		<link rel="stylesheet" href="css/application.css/?v=2.2">

		<!-- ################### -->

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<!-- ################### -->

	</head>
	<body>
		<ul>
		  	<li><a href='/index'>Home</a></li>

		  	<li><a href='/login'>Login</a></li>
	 	</ul>

	 	
		<div class="box">

			


			<%= yield %>
		</div>
	</body>
</html>